* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Georgia', serif;
    background-color: #fdfdfd; 
    color: #333;
    line-height: 1.6; /* Espaciado */
    max-width: 800px; /* Ancho máximo */ 
    margin: 0 auto; /* Centrar */
    padding: 2rem;
}

h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    color: #2c3e50;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2.5rem;
    border-bottom: 2px solid #333;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    color: #e67e22;
}

/* NAVEGACIÓN */
.navbar {
    list-style-type: none;
    padding: 0;
    margin-bottom: 3rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    display: flex; 
    justify-content: space-between; 
}

li a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #333;
    font-size: 1.1rem;
    transition: color 0.3s;
}

li a:hover {
    color: #e67e22;
    text-decoration: underline;
}

/* ESTILO DE LOS PÁRRAFOS */
p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

h2 + p {
    font-style: italic;
    color: #666;
    font-size: 1rem;
    border-left: 3px solid #ddd;
    padding-left: 10px;
}

form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 1rem;
    font-family: sans-serif; 
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background-color: #e67e22;
}

img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 2rem auto; 
    border-radius: 4px; 
}

.book-cover {
    max-width: 250px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.08);
    margin-top: 1rem; 
}

.full-banner {
    width: 100%; 
    max-height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

img:hover {
    outline: 2px solid #e67e22; 
    transition: outline 0.3s ease;
}